html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
   
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;               
    display: flex;                  
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
}

h1 {
    color: rgb(246, 121, 4);
}

h2 {
    color: white;
}

p {
    font-weight: bold;
    color: white;
}

/*Navigation*/
nav {
    width: 100%;
    padding: 7px;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 16px!important;
    align-items: center;
}

nav ul li{
    display: inline;
    padding: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.nav-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 0;
    padding: 0;
}

/*Introduction Section*/

.intro{
    min-height: 100vh;               
    display: flex;                  
    flex-direction: column;
    text-align: center;
}

.intro h1{
    color: rgb(246, 121, 4);
    font-size: 50px; 
    position: relative;
    top: 150px;
    text-shadow: 
    -1px -1px 0 black, /* Top-left */
     1px -1px 0 black, /* Top-right */
    -1px  1px 0 black, /* Bottom-left */
     1px  1px 0 black; /* Bottom-right */

}

.intro p{
    color: white;
    font-weight: bold;
    font-size: 25px;  
    width: 60%;
    position: relative;
    top: 190px;
    left: 20%;
    text-shadow: 
    -1px -1px 0 black, /* Top-left */
     1px -1px 0 black, /* Top-right */
    -1px  1px 0 black, /* Bottom-left */
     1px  1px 0 black; /* Bottom-right */

}

.background img{
    width: 100%;
    margin-top: -150%;
    z-index: -1;
}

/*Button for Intro*/

.button-container {
    display: flex;
    justify-items: center;
    
    width: 100%; 
    height: auto;
}

.button {
    text-decoration: none;
    width: 100%; 
    max-width: 500px; 
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff9d00;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 33%; 
    top: 65%; 
}

.button:hover {
    background-color: #020100;
}

/*End of Intro Section*/


/*Guitar anatomy section*/

.Guitaranatomy{
    margin-top: 10px;
}

.Guitaranatomy h1{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.Guitaranatomy h2 {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

.Guitaranatomy img{
    position: relative;
    margin-left: 150px;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}



.guitar-parts-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    margin-top: 40px;
    text-align: center;
}

.guitar-part {
    padding: 15px;
    background-color: #a86201;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.guitar-part h2 {
    color: #ffffff;
    font-size: 20px;
}

.guitar-part p {
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

/*End of Guitar Anatomy*/


.hr1 {
    margin-top: 100px;
    margin: 50px;
}


/*Tuning Section*/

.Tuning h1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;   
}

.Tuning h2{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-size: 25px;
}

.Tuning img{
    position: absolute;
    align-items: center;
    left: 35%;
    width: 32%;
}

.E{
    position: absolute;
    left: 13%;
    top: 382%;
}

.A {
    position: absolute;
    left: 14%;
    top: 368%;
}

.D {
    position: absolute;
    left: 15%;
    top: 354%;
}

.G {
    position: absolute;
    left: 66%;
    top: 354%;
}

.B {
    position: absolute;
    left: 66%;
    top: 368%;
}

.High-E {
    position: absolute;
    left: 67%;
    top: 382%;
}

.tunerdescription{
    font-size: 30px;
    margin-top: 700px;
    text-align: center;
    width: 90%;
    background-color: rgb(102, 48, 0);
    padding: 20px;
    border-radius: 8px;
    margin-left: 70px
}

.tunerdescription p {
    width: 100%;
    font-size: 20px;
}



.hr2 {
    margin-top: 500px;
    margin: 50px;
}

/*Tuning Peg Section*/

.tuningpeg h1 {
    text-align: left;
    margin-top: 40px;
    margin-left: 6%;
    width: 120%;
    font-size: 35px;
}


.tuningpeg img{
    float: right;
    margin-top: -5%;
    margin-right: 10px;
    width: 40%;
}

.tuning-guide{
    margin-top: 5%;
    text-align: left;
    align-items: left;
    margin-left: 6%;
    font-size: 20px;
    width: 70%;
}

.tuning-guide p {
    margin-bottom: 300px; 
    color: white;
}

.tuning-guide li {
    margin-bottom: 50px; /* Adjusts the gap between list items */
    color: white;
}
.tuning-guide ul {
    margin-top: 40px; /* Adjusts the gap between list items */
    margin-left: 20px;
}



.hr3{
    margin-top: 100px;
    margin: 50px;
}


/*Chords Section*/

.Chords h1{
    text-align: center;
    margin-left: 39%;
    margin-top: 20px;
    width: 65%;
    font-size: 35px;
}

.Chords img{
    width: 32%;
    float: left;
    margin-top: -43%;
    position: absolute;
    left: 11%;

}

.Chordsdescription {
    margin-left: 50%;
    margin-top: 3%;

}

.Chordsdescription p {
    width: 90%;
    font-size: 22px;
    margin-bottom: 40px;
}

.Chordsdescription li {
    margin-bottom: 50px;
    width: 90%;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.Chordsdescription ul {
    margin-top: 20px;
}
/*End of Chord Section*/

.hr4{
    margin-top: 20%;
    margin: 50px;
}

/*Finger Section*/

.Finger{
    margin-bottom: 60px;
}

.Finger h1{
    text-align: left;
    margin-top: 30px;
    width: 100%;
    margin-left: 10%;
    font-size: 35px;
    
}

.Finger img{
    width: 35%;
    position: absolute;
    left: 62%;
    margin-top: -40px;
}

.finger-positioning{
    text-align: left;
}

.finger-positioning h2{
    font-size: 25px;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.finger-positioning p{
    font-size: 20px;
    margin-left: 12%;
    width: 45%;
}
/*End of Finger Section*/


.hr5{
    margin-top: 100px;
    margin: 50px;
}


/*Strumming Section*/

.Strum h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.Strum p{
    font-size: 20px;
}

.Strumming h1{
    text-align: center;
    font-size: 40px;
}

.Strumming1 img{
    width: 70%;
    display: flex;
    position: relative;
    margin: auto;

}

.Strumming1 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
    margin-bottom: 20px;
}


.Strumming1 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;

}

.Strumming2 img{
    width: 70%;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20px;

}

.Strumming2 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 35px;
}

.Strumming2 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.Strumming3 img{
    width: 70%;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20px;

}

.Strumming3 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 35px;
}

.Strumming3 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.Strumming4 video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 20px;

}

.Strumming4 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 35px;
}

.Strumming4 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.Strumming5 video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 20px;

}

.Strumming5 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 35px;
}

.Strumming5 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.Strumming6 video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 20px;

}

.Strumming6 h2{
    color: rgb(255, 119, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 35px;
}

.Strumming6 p{
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

/*End of Strumming Section*/

.hr6{
    margin-top: 100px;
    margin: 50px;
}


/*Basic Chords Section*/

.Basic-chords h1{
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Basic-chords p{
    text-align: left;
    margin-left: 10%;
    width: 80%;
    font-size: 25px;
    margin-top: 50px;
}

.Basic-chords img{
    width: 70%;
    display: flex;
    position: relative;
    margin-left: 15%;

}


.Basic-chords video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 30px;
}
/*End of Basic CHord Section*/

.hr7{
    margin-top: 100px;
    margin: 50px;
}


/*First Song Section*/

.First-song h1{
    text-align: center;
    font-size: 35px;
}

.First-song video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 20px;
}

.First-song p{
    text-align: left;
    margin-left: 11%;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
    
}


.One-day h1{
    margin-left: 15%;
    font-size: 40px;
    margin-top: 5%;
}

.One-day h2{
    margin-left: 16%;
    margin-top: 20px;
    color: white;
}

.One-day pre{
    margin-left: 20%;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.One-day span{
    color: orange;
}

/*End of First Song*/

.hr8{
    margin-top: 100px;
    margin: 50px;
}

/*Second Song Section*/
.Second-song h1{
    text-align: center;
    font-size: 35px;
}

.Second-song video{
    width: 70%;
    display: flex;
    position: relative;
    margin:auto;
    margin-top: 20px;
}

.Second-song p{
    text-align: left;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
}


.Perfect h1{
    margin-left: 15%;
    font-size: 40px;
    margin-top: 5%;
}
.Perfect h2{
    margin-left: 16%;
    margin-top: 20px;
}

.Perfect pre{
    margin-left: 20%;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.Perfect span{
    color: orange;
}

/*End of Second Song*/

.hr9{
    margin-top: 100px;
    margin: 50px;
}

/*Other Chords Section*/

.Other-chords h1 {
    text-align: center;
    font-size: 35px;
    
}

.Other-chords p{
    text-align: left;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
}

.Other-chords img{
    width: 60%;
    display: flex;
    position: relative;
    margin-left: 290px;

}
/*End of othet Chords Section*/


.hr10{
    margin-top: 100px;
    margin: 50px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /*Strumming Section*/

.Strum {
    margin-top: 40px;
}

.Strum h1{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }


  /* New Slideshow Container */
.new-slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* New Slides */
.new-mySlides {
    display: none;
}

/* New Next & Previous buttons */
.new-prev, .new-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.new-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* New dots */
.new-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.new-active, .new-dot:hover {
    background-color: #717171;
}

/* Fading animation for new slideshow */
.new-fade {
    animation-name: newFade;
    animation-duration: 1.5s;
}

@keyframes newFade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Guitar-tips Section*/

.beginner-tips h1{
    margin-left: 15%;
    font-size: 35px;
    margin-top: 3%;
}

.beginner-tips li{
    color: white;
    margin-left: 270px;
    font-size: 20px;
    width: 70%;
    margin-top: 40px;
}

.hr11 {
    margin-top: 100px;
    margin: 50px;
}



/*Schedule*/

.schedule-container {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    color: rgb(255, 255, 255);
}

th {
    background-color: #fe7505;
    color: rgb(255, 240, 240);
}

tr:hover {
    background-color: #ff6a00;
}

@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 8px;
    }
}




/*Congrats Section*/ 

.Congrats h1 {
    text-align: center;
    font-size: 35px;
}

.Congrats p{
    text-align: left;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
}


.section-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.homebutton{
    width: 90%;
    padding: 20px;
    background-color: #ba3200;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.intermediatebutton{
    width: 90%;
    padding: 20px;
    background-color: #c9b502;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;      
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.homebutton:hover {
    background-color: #6c3101;
    cursor: pointer;
}
.intermediatebutton:hover {
    background-color: #606302;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    
}

footer p{
    font-size: 15px;
}