html{
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
   
}

h1 {
    color: rgb(246, 121, 4);
}

h2{
    color: white;
}

p{
    color: white;
}

img {
    max-width: 100%;
    max-height: auto;
}


body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/Images/Guitarcover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;               
    display: flex;                  
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
}


nav {
    background-color: black;
    width: 100%;
    padding: 7px;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 16px!important;
    align-items: center;
}

nav ul li{
    display: inline;
    padding: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.nav-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 0;
    padding: 0;
}

main {
    position: absolute;
    color: #fff;
    top: 78px;
    
}

header {
    background-image: url('/Images/Guitarcover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;      
    margin: 0;
    padding: 0;         
    display: flex;                   
    flex-direction: column;
    background-color: black;
}

header h1 {
    color: rgb(246, 121, 4);
    font-size: 45px;  /* Adjusted for better readability */
    top: 15%;
    left: 11%;
    position: absolute;
    z-index: 1;
}

header p {
    font-weight: bold;
    font-size: 20px;  /* Adjusted for better readability */
    width: 50%!important;
    color: white;
    position: absolute;
    top: 25%;
    left: 11%;
    z-index: 1;
}


.button-container {
    display: flex;
    justify-items: center;
    position: absolute; 
    top: 50%!important;
    left: 11%!important;  
    width: 100%;
    max-width: 90%; 
    height: auto;
}

.button {
    text-decoration: none;
    width: 100%; 
    max-width: 500px; 
    min-width: 200px;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    background-color: #ff9d00;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #020100;
}

.Des1 {
    margin-top: 100px;
    background-color:black;
    text-align: left;
}

.Des1 h1 {
    text-align: left;
    margin-top: 100px;
    width: 100%;
    margin-left: 7%;
    font-size: 45px;
}

.Des1 h2{
    text-align: left;
    width: 100%;
    margin-left: 7%;
    font-size: 35px;
    margin-top: 10px;
}

.Des1 p{
    text-align: left;
    margin-top: 10px;
    width: 40%;
    margin-left: 7%;
    font-size: 20px;
}

.Des1 img{
    width: 40%;
    position: absolute;
    left: 55%;
}

.Des2 {
    margin-top: 250px;
    background-color: black;
    text-align: left;
}


.Des2 h1 {
    text-align: left;
    margin-top: 22%;
    width: 40%;
    margin-left: 60%;
    font-size: 45px;
}

.Des2 h2{
    text-align: left;
    width: 40%;
    margin-left: 60%;
    font-size: 35px;
    margin-top: 10px;
}

.Des2 p{
    text-align: left;
    margin-top: 10px;
    width: 30%;
    margin-left: 60%;
    font-size: 20px;
}

.Des2 img{
    width: 40%;
    position: absolute;
    left: 8%;
    top: 165%;
}

.hr1{
    margin-top: 15%!important;
    margin: 50px
}

.courses h1{
    margin-top: 10px;
    text-align: center;
    font-size: 60px;
}

.section-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.beginnerbutton{
    width: 90%;
    padding: 70px;
    background-color: #008106;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.intermediatebutton{
    width: 90%;
    padding: 70px;
    background-color: #c9b502;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;      
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.beginnerbutton:hover {
    background-color: #015403;
    cursor: pointer;
}
.intermediatebutton:hover {
    background-color: #606302;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer .footer-content {
    font-size: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}



.hr2{
    margin-top: 5%;
    margin: 50px;
}