html{
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
   
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}


h1 {
    color: rgb(246, 121, 4);
}

h2{
    color: white;
}

p{
    color: white;
}

/*Navigation*/
nav {
    width: 100%;
    padding: 7px;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 16px!important;
    align-items: center;
}

nav ul li{
    display: inline;
    padding: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.nav-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 0;
    padding: 0;
}

/*Introduction Section*/

.intro{
    min-height: 100vh;               
    display: flex;                  
    flex-direction: column;
}

.intro h1{
    color: rgb(246, 121, 4);
    font-size: 45px; 
    position: relative;
    top: 120px;
    left: 11%;
    text-shadow: 
        -1px -1px 0 black, /* Top-left */
         1px -1px 0 black, /* Top-right */
        -1px  1px 0 black, /* Bottom-left */
         1px  1px 0 black; /* Bottom-right */

}

.intro p{
    color: white;
    font-weight: bold;
    font-size: 20px;  
    width: 45%;
    position: relative;
    top: 150px;
    left: 11%;
    text-shadow: 
        -1px -1px 0 black, /* Top-left */
         1px -1px 0 black, /* Top-right */
        -1px  1px 0 black, /* Bottom-left */
         1px  1px 0 black; /* Bottom-right */
}

.background img{
    max-width: 5000px;
    width: 100%;
    margin-top: -19%;
    z-index: -1;
}

/*Button in the Intro*/

.button-container {
    display: flex;
    justify-items: center;
    
    width: 100%;
    max-width: 80%; 
    height: auto;
}

.button {
    text-decoration: none;
    width: 100%; 
    max-width: 500px; 
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff9d00;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 11%; 
    top: 58%; 
}

.button:hover {
    background-color: #020100;
}


/*End of Intro Section*/


/*Description 1 Section*/

.Des1 {
    text-align: left;
    padding: 50px;
    margin-bottom: 50px;
}

.Des1 h1 {
    text-align: left;
    margin-top: -320px;
    width: 100%;
    margin-left: 5%;
    font-size: 40px;
    max-width: 500%;
}

.Des1 h2{
    text-align: left;
    width: 100%;
    margin-left: 5%;
    font-size: 30px;
    margin-top: 10px;
    max-width: 500%;
}

.Des1 p{
    text-align: left;
    margin-top: 10px;
    width: 40%;
    margin-left: 5%;
    font-size: 20px;
    max-width: 500%;
}

.Des1 img{
    width: 40%;
    max-width: 600%;
    position: relative;
    left: 55%;
    top: 123%;
}
/*End of Description 1*/


/*Description 2 Section*/

.Des2 {
    margin-top: 60px;
    text-align: left;
    background-color: #9b6105;
    padding: 3px; 
    padding-bottom: 90px;
}


.Des2 h1 {
    text-align: left;
    color: #ffffff;
    width: 40%;
    margin-left: 56%;
    font-size: 40px;
    margin-top: -320px;
}

.Des2 h2{
    text-align: left;
    width: 40%;
    margin-left: 56%;
    font-size: 30px;
    margin-top: 10px;
}

.Des2 p{
    text-align: left;
    margin-top: 10px;
    width: 30%;
    margin-left: 56%;
    font-size: 20px;
}

.Des2 img{
    width: 40%;
    position: relative;
    left: 8%;
}

/*End of Description 2*/

.hr1{
    margin-top: 15%;
    margin: 50px
}


/*Course Section*/

.courses h1{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
}

.section-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
}

/*Button for Courses*/

.beginnerbutton{
    width: 90%;
    padding: 70px;
    background-color: #027d08;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.intermediatebutton{
    width: 90%;
    padding: 70px;
    background-color: #a69500;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;      
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.beginnerbutton:hover {
    background-color: #015403;
    cursor: pointer;
}
.intermediatebutton:hover {
    background-color: #606302;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer .footer-content {
    font-size: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}



.hr2{
    margin-top: 5%;
    margin: 50px;
}