@media screen and (max-width: 2000px) {
    header h1 {
        font-size: 3rem;
    }

    nav ul {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1.3rem;
        padding: 15px 25px;
    }
    .button-container{
        top: 60%;
        left: 60%
    }
}

@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 3rem;
    }

    nav ul {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1.3rem;
        padding: 15px 25px;
    }
    .button-container{
        top: 65%;
        left: 48%
    }
}

@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }

    nav ul {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1.3rem;
        padding: 15px 25px;
    }
    .button-container{
        top: 75%;
        left: 50%
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
        left: 70%;
    }
    
    p{
        font-size: 1.5rem;
    }

    .button-container {
        top: 80%; 
        left: 75%
    }

    .button {
        font-size: 1.2rem;
        padding: 15px 25px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        font-size: 1rem;
    }

    .button-container {
        top: 80%;
    }

    .button {
        font-size: 1rem;
        padding: 12px 20px;
    }
}